h1{
  color: cyan;
  text-align: center;
}
.container{
  margin-top: 55px;
}
//phone
@media (max-width: 768px) {
  .container{
    margin-top: 0px;
  }
}
//wide screens
@media (min-width:2500px) {
  .container{
  margin-top:0px;
  }
}
