<div class="container">
  <h1>Lol Guesser</h1>
<div class="text-block">
  <p class="text-light-emphasis d-inline ml-1">
    Try yourself with basic knowledge of <cite title="Source Title">League Of Legends</cite> champions statistics!
  </p>
</div>
  <div class="contener">
    <div class="btn-parent">
      <button type="button" class="btn  btn-outline-secondary home-btn" routerLink='/war'>Basic War</button>
      <button type="button" class="btn  btn-outline-secondary home-btn" disabled>Random Items (tbd)</button>
      <button type="button" class="btn  btn-outline-secondary home-btn" routerLink='/data'>Data</button>

    </div>
    <!-- <div class="text-block">

          <p class="mb-0" style="color: cyan">What can you find here?</p>
          <div class="answer">
            <p class="text-light-emphasis d-inline ml-1">
            Play higher or lesser <cite title="Source Title">League of Legends</cite>
            games and try
            out yourself of basic game knowledge
            </p>
          </div>

          <p class="mb-0" style="color: cyan">Where do I get the data?</p>

          <div class="answer">
            <p class="text-light-emphasis d-inline ml-1">
            Play higher or lesser <cite title="Source Title">League of Legends</cite>
            games and try
            out yourself of basic game knowledge
            </p>
          </div>
    </div> -->
  </div>
</div>

