<div class="container" [@fade]>
  <h1>Lol Guesser</h1>
<div class="text-block">
  <p class="text-light-emphasis d-inline ml-1">
    Try yourself with basic knowledge of <cite title="Source Title">League Of Legends</cite> champions statistics!
  </p>
</div>
  <div class="contener">
    <div class="btn-parent">
      <button type="button" class="btn  btn-outline-secondary home-btn" routerLink='/war'>Basic War</button>
      <button type="button" class="btn  btn-outline-secondary home-btn" disabled>Random Items</button>
      <button type="button" class="btn  btn-outline-secondary home-btn" routerLink='/data'>Data</button>
    </div>
  </div>
</div>
