h1{
  font-size: 48px;
  margin-top: 125px;
  color: rgb(207, 199, 207);
  text-align: center;
  justify-content: center;
}
p{
  font-size: 26px;
}
.contener{
  margin-top: 150px;
}
.btn-parent{
  margin-left:38%;
}
.home-btn{
  width: 250px;
  height: 100px;
  font-size: 26px;
  margin: 25px;
  padding: 15px;
  display:block;
  text-align: center;
}
.text-block{
  margin-top: 100px;
  text-align: center;
}
.answer{
  color: cyan;
  margin:15px;
}
.home-btn:hover{
background-color: rgb(74, 37, 122);
color:white;
}
