<div *ngIf="!lost">
  <div class="container">
    <div class="d-grid gap-2">

       <h1 *ngIf="champions &&  champions[0]" class="d-inline ml-1">Which champion has more basic
        <p *ngIf="champions[0].hp !== undefined" class="text-light-emphasis d-inline ml-1">hp?</p>
        <p *ngIf="champions[0].ad !== undefined" class="text-light-emphasis d-inline ml-1">attack damage?</p>
        <p *ngIf="champions[0].ms !== undefined" class="text-light-emphasis d-inline ml-1">movement speed?</p>
        <p *ngIf="champions[0].mana !== undefined" class="text-light-emphasis d-inline ml-1">mana/energy?</p>
        <p *ngIf="champions[0].manaGain !== undefined" class="text-light-emphasis d-inline ml-1">mana gain?</p>
        <p *ngIf="champions[0].as !== undefined" class="text-light-emphasis d-inline ml-1">attack speed?</p>
        <p *ngIf="champions[0].armor !== undefined" class="text-light-emphasis d-inline ml-1">armor?</p>
        <p *ngIf="champions[0].armorGain !== undefined" class="text-light-emphasis d-inline ml-1">armor gain?</p>
        <p *ngIf="champions[0].mr !== undefined" class="text-light-emphasis d-inline ml-1">magic resists?</p>
        <p *ngIf="champions[0].hpGain !== undefined" class="text-light-emphasis d-inline ml-1">hp gain?</p>
        <p *ngIf="champions[0].range !== undefined" class="text-light-emphasis d-inline ml-1">attack range?</p>
      </h1>
    </div>
  </div>

  <div class="container" style="margin-top: 100px;">
    <div class="row justify-content-center">
      <div class="col-md-5 text-center">
        <div class="img-h1" *ngIf="champions && champions[0]">
          <img  src="{{champions[0].pictureUrl}}" alt="{{champions[0].name}}" class="img-fluid" [@anim]>
          <button class="btn" (click)="userChoice('left')" type="button"><h2>{{ champions[0].name }}</h2></button>
        </div>
        <div *ngIf="displayedValue" style="margin-top: 50px;"  [@anim]>
          <p *ngIf="champions[0].hp !== undefined" class="text-light-emphasis d-inline ml-1">{{champions[0].hp}}</p>
          <p *ngIf="champions[0].ad !== undefined" class="text-light-emphasis d-inline ml-1">{{champions[0].ad}}</p>
          <p *ngIf="champions[0].ms !== undefined" class="text-light-emphasis d-inline ml-1">{{champions[0].ms}}</p>
          <p *ngIf="champions[0].mana !== undefined" class="text-light-emphasis d-inline ml-1">{{champions[0].mana}}</p>
          <p *ngIf="champions[0].manaGain !== undefined" class="text-light-emphasis d-inline ml-1">{{champions[0].manaGain}}</p>
          <p *ngIf="champions[0].as !== undefined" class="text-light-emphasis d-inline ml-1">{{champions[0].as}}</p>
          <p *ngIf="champions[0].armor !== undefined" class="text-light-emphasis d-inline ml-1">{{champions[0].armor}}</p>
          <p *ngIf="champions[0].armorGain !== undefined" class="text-light-emphasis d-inline ml-1">{{champions[0].armorGain}}</p>
          <p *ngIf="champions[0].mr !== undefined" class="text-light-emphasis d-inline ml-1">{{champions[0].mr}}</p>
          <p *ngIf="champions[0].hpGain !== undefined" class="text-light-emphasis d-inline ml-1">{{champions[0].hpGain}}</p>
          <p *ngIf="champions[0].range !== undefined" class="text-light-emphasis d-inline ml-1">{{champions[0].range}}</p>
        </div>
      </div>

      <div class="col-md-2 text-center" *ngIf="champions[0]">
        <div class="vs-line">
          <div [@anim] style="margin-left: 25%;" *ngIf="win" class="circle">✓</div>
          <div [@anim] style="margin-left: 25%;" *ngIf="lost" class="circlex">X</div>
          <ng-container [@anim] *ngIf="!win">
            <div *ngIf="!lost" class="line"></div>
            <div *ngIf="!lost" class="vs">vs</div>
            <div *ngIf="!lost" class="line"></div>
          </ng-container>

        </div>
      </div>
      <div *ngIf="currentScore" class="score">
        <p  class="text-light-emphasis  d-inline ml-1" style="font-size: 28px;" >Score: </p>
        <p [@anim]  class="d-inline ml-1 text-light-emphasis" style="font-size: 32px;">{{currentScore}}</p>
      </div>

      <div class="col-md-5 text-center" *ngIf="champions && champions[1]">
        <div class="img-h1" style="margin-left: 8%;">
            <img src="{{champions[1].pictureUrl}}" alt="{{champions[1].name}}" class="img-fluid"[@anim]>
            <button class="btn" (click)="userChoice('right')" type="button"><h2>{{ champions[1].name }}</h2></button>
          </div>
        <div *ngIf="displayedValue" style="margin-top: 50px;" [@anim]>
          <p *ngIf="champions[0].hp !== undefined" class="text-light-emphasis d-inline ml-1">{{champions[1].hp}}</p>
          <p *ngIf="champions[0].ad !== undefined" class="text-light-emphasis d-inline ml-1">{{champions[1].ad}}</p>
          <p *ngIf="champions[0].ms !== undefined" class="text-light-emphasis d-inline ml-1">{{champions[1].ms}}</p>
          <p *ngIf="champions[0].mana !== undefined" class="text-light-emphasis d-inline ml-1">{{champions[1].mana}}</p>
          <p *ngIf="champions[0].manaGain !== undefined" class="text-light-emphasis d-inline ml-1">{{champions[1].manaGain}}</p>
          <p *ngIf="champions[0].as !== undefined" class="text-light-emphasis d-inline ml-1">{{champions[1].as}}</p>
          <p *ngIf="champions[0].armor !== undefined" class="text-light-emphasis d-inline ml-1">{{champions[1].armor}}</p>
          <p *ngIf="champions[0].armorGain !== undefined" class="text-light-emphasis d-inline ml-1">{{champions[1].armorGain}}</p>
          <p *ngIf="champions[0].mr !== undefined" class="text-light-emphasis d-inline ml-1">{{champions[1].mr}}</p>
          <p *ngIf="champions[0].hpGain !== undefined" class="text-light-emphasis d-inline ml-1">{{champions[1].hpGain}}</p>
          <p *ngIf="champions[0].range !== undefined" class="text-light-emphasis d-inline ml-1">{{champions[1].range}}</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container lost" *ngIf="lost">
  <h1 >You have failed:(</h1>
    <div class="lost-h">
      <h3 >Score : {{currentScore}}</h3>
      <h3 >Personal Best : {{highScore}}</h3>
    </div>
    <div class="lost-b">
      <button type="button" class="btn btn-lg btn-outline-secondary lost-btn">Home</button>
      <button type="button" (click)="tryAgain()" class="btn btn-lg btn-outline-secondary lost-btn">Try Again</button>
    </div>
</div>
