h1{
  color: cyan;
  text-align: center;
}
h2:hover{
  color: white;
}
h2{
  -moz-transition: all .2s ease-in;
  -o-transition: all .2s ease-in;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
  color: cyan;
  position: absolute;
  text-align: center;
  justify-content: center;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
}
p{
  font-size: 38px;
}
.img-p{
  box-shadow: 15px 15px 10px #111010;
  -moz-box-shadow: 15px 15px 10px #111010;
  -webkit-box-shadow: 15px 15px 10px #111010;
  -khtml-box-shadow: 15px 15px 10px #111010;
}
.btn:disabled {
  opacity: 1;
}
.score{
  position: absolute;
  text-align: center;
  justify-content: center;
  top:70%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.lost-b{
  text-align: center;
  margin-top:50px;
}
.lost-h{
  margin:150px;
}

.lost{
  width: 25rem;
  margin-top: 150px;
  position: relative;
  text-align: center;
  color: white;
}
.vs-line {
  display: flex;
  align-items: center;
  margin-top: 110%;

}
.line {
  flex-grow: 1;
  height: 2px;
  background-color: white;

}
.vs {
  margin: 0 15px;
  color: white;
  font-size: 24px;
}
.img-fluid{
  scale: 1.2;
}
.img-h1{
  transition: all .2s ease-in-out;
    position: relative;
    text-align: center;
    color: white;
}
.img-h1:hover{
  transform: scale(1.05);
}
.score-height{
  margin-top:70px;
}

.circle {
  width: 100px;
  height: 100px;
  background-color: green;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  color: white;
}
.circlex {
  width: 100px;
  height: 100px;
  background-color: red;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  color: white;
}
.container{
  margin-top: 75px;
}

//phone
@media (max-width: 768px) {
  p{
    font-size: 26px;
  }
  .score{
    top:30%;
    font-size:12px;

  }
  .lost-b{
    margin-top:0px;
    width:15rem;
  }

  .vs-line {
    @media (max-width: 768px) {
      opacity: 0;
      margin-top:0px;
   }
  }
  .img-h1{
    @media (max-width: 768px) {
      scale:0.8;
      margin-bottom:15px;
      margin-top: 0px;
      margin:0px;
    }
  }
  .container{
    margin-top: 0px;
  }
  .score-height{
    margin-top: 0px;
  }
}

//wide screens
@media (min-width:2360px) {
  .img-h1 {
  scale:1;
  margin: 0 auto;
  }

  .img-fluid {
  scale:1;
  height: auto;
  }
  .container{
  margin-top:15px;
  }
}
