h1{
  color: cyan;
  text-align: center;
}
h2{
  position: absolute;
  text-align: center;
  justify-content: center;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
}
p{
 font-size: 38px;
}
.score{
  position: absolute;
  text-align: center;
  justify-content: center;
  top:70%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.lost-btn{
  display: block;
  margin: 10px auto;
}
.lost-b{
  text-align: center;

}
.lost-h{
  margin:150px;
}
.lost{
  position: relative;
  text-align: center;
  color: white;
}
.vs-line {
  display: flex;
  align-items: center;
  margin-top: 110%;
}

.line {
  flex-grow: 1;
  height: 2px;
  background-color: white;

}

.vs {
  margin: 0 15px;
  color: white;
  font-size: 24px;
}
.img-fluid{
  scale: 1.2;
}
.img-h1{
    position: relative;
    text-align: center;
    color: white;
}

.circle {
  width: 100px;
  height: 100px;
  background-color: green;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  color: white;
}
.circlex {
  width: 100px;
  height: 100px;
  background-color: red;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  color: white;
}
