h1{
  color: cyan;
  text-align: center;
}
h2:hover{
  color: white;
}
h2{
  -moz-transition: all .2s ease-in;
  -o-transition: all .2s ease-in;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
  color: cyan;
  position: absolute;
  text-align: center;
  justify-content: center;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
}
p{
 font-size: 38px;
}
.img-p{
  box-shadow: 15px 15px 10px #111010;
  -moz-box-shadow: 15px 15px 10px #111010;
  -webkit-box-shadow: 15px 15px 10px #111010;
  -khtml-box-shadow: 15px 15px 10px #111010;
}
.btn:disabled {
  opacity: 1;
}
.score{
  position: absolute;
  text-align: center;
  justify-content: center;
  top:70%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.lost-btn{
  display: block;
  margin: 10px auto;
}
.lost-btn:hover{
  background-color: rgb(74, 37, 122);
  color:white;
}
.lost-b{
  text-align: center;
}
.lost-h{
  margin:150px;
}
.lost{
  margin-top: 150px;
  position: relative;
  text-align: center;
  color: white;
}
.vs-line {
  display: flex;
  align-items: center;
  margin-top: 110%;
}

.line {
  flex-grow: 1;
  height: 2px;
  background-color: white;

}

.vs {
  margin: 0 15px;
  color: white;
  font-size: 24px;
}
.img-fluid{
  scale: 1.2;
}
.img-h1{
  transition: all .2s ease-in-out;
    position: relative;
    text-align: center;
    color: white;
}
.img-h1:hover{
  transform: scale(1.05);
}

.circle {
  width: 100px;
  height: 100px;
  background-color: green;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  color: white;
}
.circlex {
  width: 100px;
  height: 100px;
  background-color: red;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  color: white;
}
