<div *ngIf="!lost">
  <!-- H1 SIGN -->
  <div class="container" >
    <div class="d-grid gap-2">
      <ng-container *ngIf="champions && champions[0]">
        <h1 class="d-inline ml-1">Which champion has more basic
          <ng-container *ngFor="let attribute of championAttributes">
            <p *ngIf="getValue(champions[0], attribute.key) !== undefined" class="text-light-emphasis d-inline ml-1">{{ attribute.label }} </p>
          </ng-container>
        </h1>
      </ng-container>
    </div>
  </div>

  <!-- LEFT IMG || UPPER IMG-->
  <div class="container">
    <div class="row justify-content-center"  >
      <div class="col-md-5 text-center" [@fadeOut]="fadeState">
        <div class="img-h1" *ngIf="champions && champions[0]" >
          <button [disabled]="loading" class="btn" (click)="userChoice('left')" type="button">
            <img  src="{{champions[0].pictureUrl}}" alt="{{champions[0].name}}" class="img-fluid img-p"  [@animImg]="animateState">
          <h2>{{ champions[0].name }}</h2></button>
        </div>
        <div *ngIf="displayedValue" style="margin-top: 70px;" [@anim]>
          <ng-container *ngFor="let attribute of championAttributes">
            <ng-container *ngIf="attribute.key === 'manaGain' || attribute.key === 'armorGain'">
              <p class="text-light-emphasis d-inline ml-1">
                {{ getValue(champions[0], attribute.key) === 0 ? '0' : getValue(champions[0], attribute.key) }}
              </p>
            </ng-container>

            <ng-container *ngIf="attribute.key !== 'manaGain' && attribute.key !== 'armorGain'">
              <p *ngIf="getValue(champions[0], attribute.key) !== null && getValue(champions[0], attribute.key) !== undefined" class="text-light-emphasis d-inline ml-1">
                  {{ getValue(champions[0], attribute.key) }}
              </p>
            </ng-container>
          </ng-container>
        </div>
      </div>

      <!-- VS  && SCORE-->
      <div class="col-md-2" *ngIf="champions[0]">
        <div class="vs-line">
            <div [@anim] style="margin-left:25%;" *ngIf="win" class="circle">✓</div>
            <div [@anim] style="margin-left:25%;"  *ngIf="cricleX" class="circlex">X</div>
          <ng-container *ngIf="!win && !cricleX">
            <div *ngIf="!lost" class="line"></div>
            <div *ngIf="!lost" class="vs">vs</div>
            <div *ngIf="!lost" class="line"></div>
          </ng-container>

        </div>
      </div>
      <div *ngIf="currentScore" class="score">
        <p [@anim]  class="d-inline text-light-emphasis" style="font-size: 32px;">{{currentScore}}</p>
      </div>

      <!-- RIGHT IMG || DOWN IMG-->
      <div class="col-md-5 text-center" *ngIf="champions && champions[1]"  [@fadeOut]="fadeState">
        <div class="img-h1">
          <button [disabled]="loading" class="btn" (click)="userChoice('right')" type="button">
            <img src="{{champions[1].pictureUrl}}" alt="{{champions[1].name}}" class="img-fluid img-p"  [@animImg]="animateState">
            <h2>{{ champions[1].name }}</h2></button>
          </div>
          <div *ngIf="displayedValue" class="score-height" [@anim]>
            <ng-container *ngFor="let attribute of championAttributes">
              <ng-container *ngIf="attribute.key === 'manaGain' || attribute.key === 'armorGain'">
                <p class="text-light-emphasis d-inline ml-1">
                  {{ getValue(champions[1], attribute.key) === 1 ? '0' : getValue(champions[1], attribute.key) }}
                </p>
              </ng-container>

              <ng-container *ngIf="attribute.key !== 'manaGain' && attribute.key !== 'armorGain'">
                <p *ngIf="getValue(champions[1], attribute.key) !== null && getValue(champions[1], attribute.key) !== undefined" class="text-light-emphasis d-inline ml-1">
                    {{ getValue(champions[1], attribute.key) }}
                </p>
              </ng-container>
            </ng-container>
          </div>
      </div>
    </div>
  </div>
</div>
<!-- LOST -->
<div class="container lost" *ngIf="lost" [@anim]>
  <div class="card border-primary mb-3 lost" style="background-color: rgb(74, 37, 122);">
    <div class="card-header">{{lostText}}</div>
    <div class="card-body mb-lg-5">
      <h4 class="card-title mb-5">Personal Best : {{highScore}}</h4>
      <p class="card-text mb-auto">Score : {{currentScore}}</p>
    </div>
  </div>
  <div class="lost-b">
    <button type="button" (click)="tryAgain()" class="btn btn-lg btn-outline-secondary lost-btn">Try Again</button>
    <button type="button" class="btn btn-lg btn-outline-secondary lost-btn"  routerLink=''>Home</button>
  </div>
</div>
