
p{
  font-size: 38px;
}

.lost-btn{
  display: block;
  margin: 10px auto;
  width: 400px;
  height: 75px;
}
.lost-btn:hover{
  background-color: rgb(74, 37, 122);
  color:white;
}

.card-header{
  font-size: 32px;

}
.card-title{
  margin-top:70px;
}
.lost{
  width: 25rem;
  margin-top: 150px;
  position: relative;
  text-align: center;
  color: white;
}
.score-height{
  margin-top:70px;
}
//phone
@media (max-width: 768px) {
  p{
    font-size: 26px;
  }
  .lost-btn{
    width: 200px;
    height: 50px;
  }
  .card-header{
    font-size: 24px;
  }
  .card-title{
    margin-top:10px;
  }

  .container{
    margin-top: 0px;
  }
  .score-height{
    margin-top: 0px;
  }
}

//wide screens
@media (min-width:2560px) {
  .container{
  margin-top:15px;
  }
}
