.table-container {
  width: 100%;
  @media (max-width: 768px) {
    overflow-x: auto;
  }

}
.lost-btn{
  display: block;
  margin: 10px auto;
  width: 400px;
  height: 75px;

}
.lost-btn:hover{
  background-color: black;

}
table {
  margin: 15px;
  text-align: center;
  width: 100%;
  border-collapse: collapse;
}

th, td {
  color: white;
  border: 1px solid #ddd;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: rgb(132, 0, 255);
}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #e914cc79;
  color: white;
}

h1 {
  font-size: 36px;
  margin-left: 15px;
  margin-top: 50px;
  margin-bottom: 15px;
  color: rgb(207, 199, 207);
  text-align: left;

  @media (max-width: 768px) {
    font-size: 32px;
    margin-top: 25px;
    margin-bottom: 10px;
  }
}
