<div class="container" [@fade]>
<h1>Data from {{dataFrom}}</h1>

<ng-container>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>HP</th>
        <th>HP Gain</th>
        <th>Mana</th>
        <th>Mana Gain</th>
        <th>AD</th>
        <th>AS</th>
        <th>Armor</th>
        <th>Armor Gain</th>
        <th>MR</th>
        <th>MS</th>
        <th>Range</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let character of champions">
        <td>{{ character.name }}</td>
        <td>{{ character.hp }}</td>
        <td>{{ character.hpGain }}</td>
        <td>{{ character.mana }}</td>
        <td>{{ character.manaGain }}</td>
        <td>{{ character.ad }}</td>
        <td>{{ character.as }}</td>
        <td>{{ character.armor }}</td>
        <td>{{ character.armorGain }}</td>
        <td>{{ character.mr }}</td>
        <td>{{ character.ms }}</td>
        <td>{{ character.range }}</td>
      </tr>
    </tbody>
  </table>
</ng-container>
</div>
