<div class="container" [@fade]>
  <h1>FAQ</h1>
  <div class="text-block">
      <p class="text-light-emphasis">
          In case you are wondering about the page, I am here to help.
      </p>

      <section class="faq-item">
          <h2>What can you find here?</h2>
          <p class="text-light-emphasis">
              Play higher or lesser <cite title="Source Title">League of Legends</cite> games and try out yourself of basic game knowledge.
          </p>
      </section>

      <section class="faq-item">
          <h2>When will the random items war release?</h2>
          <p class="text-light-emphasis">Soon. I promise.</p>
      </section>

      <section class="faq-item">
          <h2>Where do I get the data?</h2>
          <p class="text-light-emphasis">I have created an API which is a source data target.</p>
      </section>

      <section class="faq-item">
          <h2>Can I use your API?</h2>
          <p class="text-light-emphasis">Certainly! All you have to do is message me.</p>
      </section>

      <section class="faq-item">
          <h2>Why was the page created?</h2>
          <p class="text-light-emphasis">In order to provide more fun for already chilled <cite title="Source Title">League of Legends</cite> players. We can, after all, see the joy of life from players.</p>
      </section>

      <section class="faq-item">
          <h2>What technology was used here?</h2>
          <p class="text-light-emphasis">ASP.NET core for API, and Angular for front.</p>
      </section>

      <section class="faq-item">
        <h2>What will next update feature?</h2>
        <p class="text-light-emphasis">Item war && Global ranking</p>
    </section>

      <section class="faq-item">
          <h2>Can you frontend?</h2>
          <p class="text-light-emphasis">xD</p>
      </section>
  </div>
</div>
