<div class="container" [@fade]>
  <h1>FAQ</h1>
  <div class="text-block">
    <p class="text-light-emphasis">
      In case you are wondering about the page, I am here to help.
    </p>
      <h1 class="mb-0" style="color: cyan">What can you find here?</h1>
      <div class="answer">
        <p class="text-light-emphasis d-inline ml-1">
          - Play higher or lesser <cite title="Source Title">League of Legends</cite>
          games and try
          out yourself of basic game knowledge.
        </p>
      </div>

      <h1 class="mb-0" style="color: cyan">When will the random items war release?</h1>
      <div class="answer">
        <p class="text-light-emphasis d-inline ml-1">
          - Soon. I promise.
        </p>
      </div>

      <h1 class="mb-0" style="color: cyan">Where do I get the data?</h1>
      <div class="answer">
        <p class="text-light-emphasis d-inline ml-1 left-p">
          - I have created an API which is a source data targer.
        </p>
      </div>

      <h1 class="mb-0" style="color: cyan">Can I use your API?</h1>
      <div class="answer">
        <p class="text-light-emphasis d-inline ml-1 left-p">
          - Certainly! All you have to do is message me.
        </p>
      </div>

      <h1 class="mb-0" style="color: cyan">Why was the page created?</h1>
      <div class="answer">
        <p class="text-light-emphasis d-inline ml-1 left-p">
          - In order to provide more fun for already chilled <cite title="Source Title">League of Legends</cite> players. We can, after all, see the joy of life from players.
        </p>
      </div>

      <h1 class="mb-0" style="color: cyan">What technology was used here?</h1>
      <div class="answer">
        <p class="text-light-emphasis d-inline ml-1 left-p">
          - ASP.NET core for API, and Angular for front.
        </p>
      </div>

      <h1 class="mb-0" style="color: cyan">Can you frontend?</h1>
      <div class="answer">
        <p class="text-light-emphasis d-inline ml-1 left-p">
          - xD
        </p>
      </div>
  </div>
</div>

